<div class="mt4">
    <h2>Thêm</h2>
    <form method="post" action="/courses/store">
    <div class="form-group">
        <label for="name" class="form-label">Tên</label>
        <input type="text" name="name" class="form-control" id="name">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="form-group">
        <label for="description" class="form-label">mô tả</label>
        <input type="text" name="description" class="form-control" id="description">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="form-group">
        <label for="level" class="form-label">level</label>
        <input type="text" name="level" class="form-control" id="level">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>